<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Board List</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<h1>Board List</h1>
<h2 th:text="${name}"></h2>
<div>
  <a th:href="@{/board/create}">Create New Board</a>
</div>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Description</th>
    <th>view</th>
    <th>날짜</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="board : ${boardList}">
    <!-- 각 보드의 행에 링크 추가 -->
    <td th:text="${board.id}">1</td>
    <td><a th:href="@{/board/detail/{id}(id=${board.id})}" th:text="${board.title}">Sample Title</a></td>
    <td th:text="${board.content}">Sample content</td>
    <td th:text="${board.views}">views</td>
    <td th:text="${board.updateTimestamp}">날짜</td>
  </tr>
  </tbody>
</table>
</body>
</html>