<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Board Details</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<h1>Board Details</h1>
<div>
  <p><strong>Title:</strong> [[${board.title}]]</p>
  <p><strong>Description:</strong> [[${board.content}]]</p>
  <p><strong>Views:</strong> [[${board.views}]]</p>
  <p><strong>Last Updated:</strong> [[${board.updateTimestamp}]]</p>
</div>
<div>
  <a href="/board">Back to Board List</a>
</div>
</body>
</html>